# Frontend
medconnect fronend/node_modules/
medconnect fronend/dist/
medconnect fronend/build/

# Environment
.env
.env.*
**/.env
**/.env.*

# Java / Maven
**/target/

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log
hs_err_pid*.log

# Docker
.dockerignore